// begin header 
header.header
    .header__container
        .header__row
            .header__logo
                // begin logo 
                a(href="/").logo 
                    img(src="img/logo/logo.svg", alt="Logotype")
                // end logo 
            .header__menu
                // begin toggle 
                button.toggle
                    span.tgl-topper
                    span.tgl-middle
                    span.tgl-bottom
                // end toggle 
// end header 