// begin navigation 
nav.navigation
    ul.navigation__list.site-list
        li.site-list__item
            a.site-list__link(href="/") Home
        li.site-list__item
            a.site-list__link(href="/") News
        li.site-list__item
            a.site-list__link(href="/") Bands
        li.site-list__item
            a.site-list__link(href="/") Media
        li.site-list__item
            a.site-list__link(href="/") Store
// end navigation 