doctype html
html(lang='ru')
	head
		title Music template
		include ../modules/head

	body

		// begin wrapper
		.wrapper

			include ../modules/header

			include ../modules/navigation

			// begin main-content
			main.main-content

				#fullpage

					section.section

						.section__bg
							img(src="img/main/main-background.png", alt="Section background")

						// begin main 
						.main
							.container
								h2.title 
									| Great 
									br
									span.title__italic music 
									br
									| production.
								.main__text
									p.
										Breath, Music, Repeat.

							// begin released-album 
							.released-album

								button.released-album__exit

								.released-album__img
									img(src="img/released-album/img.jpg", alt="Album img")
								.released-album__text
									h3 Darkest hour
									.released-album__info
										a(href="/").released-album__title.released-album__link Bigfoot 
										span.released-album__dash
										a(href="/").released-album__available.released-album__link Available now

							// end released-album 

						// end main 
						

					section.section.second-section

						.section__bg
							img(src="img/brands/overlay.png", alt="Section background")

						// begin brands 
						.brands
							.container
								p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Языкового, над не родного, эта подпоясал семь текста несколько она инициал они большого пунктуация продолжил алфавит безорфографичный однажды океана послушавшись? По всей дал если раз. Своего снова запятой великий переписывается текстов образ себя это злых возвращайся текст выйти, на берегу, несколько рот. Домах всемогущая переулка дорогу продолжил своих, текстами семантика свою скатился алфавит себя от всех даже строчка она большого lorem повстречался то языкового вопрос щеке ему переписывается текстов. Встретил оксмокс подпоясал взгляд. Однажды буквенных которой речью даже! Рот сих снова журчит. Толку семантика буквенных, напоивший приставка несколько образ великий ее он деревни наш жаренные? Текстов речью языкового свой, реторический жаренные первую. Строчка эта подзаголовок пустился вершину рыбного все злых сбить до рыбными города, обеспечивает знаках встретил взобравшись букв диких жаренные дал заманивший, продолжил ее это даже! Подпоясал заманивший океана первую коварный образ? Пояс заманивший лучше сих! Реторический грустный парадигматическая заманивший? О выйти однажды эта. Алфавит семантика сбить ipsum. Единственное океана парадигматическая точках языкового, свой грустный встретил текстами переписывается даль жизни рекламных жаренные ведущими предложения ты великий. Всемогущая приставка текста не на берегу путь сбить.
						// end brands 
			

			// end main-content

		// end wrapper
		include ../modules/footer

		// begin scrollDown 
		.scrollDown
			.scrollDown__btn
				img(src="img/icon/angle-down.svg", alt="Angle down")
		// end scrollDown 


		// scripts 
		include ../modules/scripts